


 
<div class="slider">
   

    <div class="slide" [ngClass]="{ 'active': currentSlide === 0 }">
      <img src="assets/images/Снимок экрана 2023-04-05 в 11.31.28 AM.png" alt="Slide 1">
    </div>
    <div class="slide" [ngClass]="{ 'active': currentSlide === 1 }">
      <img src="assets/images/Снимок экрана 2023-04-05 в 11.35.04 AM.png" alt="Slide 2">
    </div>
    <div class="slide" [ngClass]="{ 'active': currentSlide === 2 }">
      <img src="assets/images/Снимок экрана 2023-04-05 в 11.35.29 AM.png" alt="Slide 3">
    </div>
    <div class="slider-nav">
        <button (click)="prevSlide()" >Style</button>
        <button (click)="nextSlide()" >R-Line</button>
        <button (click)="nextSlide3()" >GTI</button>
      </div>
  </div>
  